.DS_Store/
.DS_Store
secrets.json
myvenv/
pa-server/db.sqlite3
.idea/
static/
deeprank.pt
embedding.txt
triplet.csv
node_modules/
/dist

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
ImageSimilarity/staticfiles/
