<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>특허청 이미지 유사도 분석</title>

</head>
<body>

    이미지 유사도 분석을 위한 서비스.

    <div id="app">
        <div v-if="!flag">
            <input type="file" id="file" name="file" ref="file" @change="handleFileUpload">
            <button type="submit" @click="submitFile">제출</button>
        </div>
        <hr>
        <!--    받아온 이미지 데이터 출력하는 부분 - 수정 필요 -->
        <div v-if="flag">
            <predict-result v-bind:images="imageBytes"></predict-result>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- vue -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> <!-- Jquery -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- axios -->
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';

        let PredictResult = {
            props: ['images'],
            template: '<img :src="`data:image/jpeg;base64,${images[0]}`">'
                //'<img v-for="imageByte in imageBytes" v-bind:src="\'data:image/jpeg;base64,\' + imageByte">'
        };

        new Vue({
            el: '#app',
            components: {
                'predict-result': PredictResult
            },
            data() {
              return {
                  file: '',
                  imageBytes: [] , // json으로 받은 이미지 raw 데이터를 저장하는 배열
                  flag : false
              }
            },
            methods: {
               submitFile() {
                   let formData = new FormData();
                   formData.append('file', this.file);

                   axios.post("{% url 'api:patent_predict' %}", formData, {
                       headers: { 'Content-Type': 'multipart/form-data' }
                   })
                   .then((res) => {
                       // 여기서 imageBytes에 json 파싱해서 images 값들 저장해야
                       var result = jQuery.parseJSON(res.data);
                       this.imageBytes.push(result.images);
                       console.log(this.imageBytes[0][0]);
                       this.flag = true;
                   })
                   .catch((err) => {
                      console.log('[ERROR]', err);
                   });
               },
               handleFileUpload() {
                   this.file = this.$refs.file.files[0];
               }
           }
        });
    </script>
</body>
</html>