<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>특허청 이미지 유사도 분석</title>

</head>
<body>

    이미지 유사도 분석을 위한 서비스.

    <div id="app">
        <input type="file" id="file" name="file" ref="file" @change="handleFileUpload">
        <button type="submit" @click="submitFile">제출</button>

        <hr>
        <!--    받아온 이미지 데이터 출력하는 부분 - 수정 필요 -->
        <predict-result v-bind:imageBytes="imageBytes"></predict-result>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- vue -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- axios -->
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';

        let PredictResult = {
            props: ['imageBytes'],
            template: '<div><h1>결과사진</h1></div>'
                // <img v-bind:src="\'data:image/jpeg;base64,\' + imageBytes[0]">
        };

        new Vue({
            el: '#app',
            components: {
                'predict-result': PredictResult
            },
            data() {
              return {
                  file: '',
                  imageBytes: []  // json으로 받은 이미지 raw 데이터를 저장하는 배열
              }
            },
            methods: {
               submitFile() {
                   let formData = new FormData();
                   formData.append('file', this.file);

                   axios.post("{% url 'api:patent_predict' %}", formData, {
                       headers: { 'Content-Type': 'multipart/form-data' }
                   })
                   .then((res) => {
                       // 여기서 imageBytes에 json 파싱해서 images 값들 저장해야함
                       console.log(res);
                   })
                   .catch((err) => {
                      console.log('[ERROR]', err);
                   });
               },
               handleFileUpload() {
                   this.file = this.$refs.file.files[0];
               }
           }
        });
    </script>
</body>
</html>